<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            border-collapse: collapse;
        }
        form{
            width: 60%;
            margin: auto;
            padding: 2rem;
            text-align: center;
        }
        form ol{
            list-style: none;

        }
        form li{
            margin: 1em;
        }
        form li:last-child{
            margin-bottom: 2em;
        }
        
    </style>
</head>
<body>
    <% include('./partials/nav') %>
    
    <% include('./partials/footer') %>
</body>
</html>