<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <% crypto.forEach((crypto)=>{ %>
        <li>
            <%= crypto %>
        </li>       


    <% }) %>
    <label for="">Crypto</label>
    <input type="text" name="txtCrypto">
    <input type="submit" value="Send data">
    
</body>
</html>