@page "/privacy"
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>

<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Woodrock Animal Rescue">
    <meta name="author" content="">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Staatliches" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="CSS.css" rel="stylesheet" type="text/css" />
    <title>Woodrock Animal Rescue - Adoptions</title>
</head>
<body>

    <!-- navbar -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <div class="container">
            <a style="font-family: 'Fjalla One', sans-serif" class="navbar-brand" href="Index.php">Woodrock Animal Rescue</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul style="font-family: 'Montserrat', sans-serif;" class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="#">Top of page</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Adoptions
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/privacy">Adoptions</a>
                            <a class="dropdown-item" href="#">Donations</a>

                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/error">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--navbar-->

    <header class="container-fluid" style="padding: 0;">
        <div class="jumbotron jumbotron-fluid " id="homejumbo">

            <div class="container">
                <h1>Adoptions</h1>

            </div>
        </div>
    </header>
    <div class="container text-center">
        <h2>Take me home!</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="~/WOODROCK/dave.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Name</h4>
                        <p3 class="card-text">Description</p3>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Enquire!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="~/WOODROCK/jen.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Name</h4>
                        <p3 class="card-text">Description</p3>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Enquire!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="~/WOODROCK/kiara.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Name</h4>
                        <p3 class="card-text">Description</p3>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Enquire!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="~/WOODROCK/nash.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Name</h4>
                        <p3 class="card-text">Description</p3>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Enquire!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="~/WOODROCK/rosie.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Name</h4>
                        <p3 class="card-text">Description</p3>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Enquire!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="~/WOODROCK/nic.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Name</h4>
                        <p3 class="card-text">Description</p3>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Enquire!</a>
                    </div>
                </div>
            </div>


        </div>

    </div>
    </div>

    </div>




    <div id="footer" class="container-fluid text-center">
        <p4>&copy; Copyright 2019 woodrockanimalrescue.co.za</p4>
    </div>


</body>
</html>
