h1{
    font-family: 'Staatliches', cursive;
    color: white;
}
h2{
    font-family: 'Staatliches', cursive;
    font-size: 68px;
}
h4{
    font-family: 'Fjalla One', sans-serif;
}
p1{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 28px;
}
p2{
   font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}
.jumbotron{
    background-image: URL("headerimg.jpg");
    background-repeat: no-repeat;
   
}
p{
    color: white;
}
#nav{
    font-family: 'Staatliches', cursive;
}


#ms{
    width: 100%;
}

#footer{
    background-color: #dfdfdf;
    padding: 20px;
    font-size: 20px;
    color: black;
    font-family: 'Fjalla One', sans-serif;
}


@media (max-width: 600px) {
    h2{
    
    font-size: 62px;
}

    
  }
